// Color
$primary-text-color : #00796B;
$secundary-text-color : #004C44;

// Header and footer
.site-header,
.site-footer {
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

/**
 * Site header
 */
.site-header {
  //border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

@import url('https://fonts.googleapis.com/css?family=Lobster');

.site-title {
	font-family: 'Lobster', cursive;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 0;
  float: left;

	background: -webkit-linear-gradient(#0b434b, #000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	@include media-query($on-palm) {
		text-align: center;
		width: 100%;
	}
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding-top: 1em;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin: auto;
  //margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  //padding-left: $spacing-unit / 2;
  margin: auto;
  width: 33%;
}

.footer-col-1 {
  width:       40%;
 }

.footer-col-2 {
  width:         20%;
}

 .footer-col-3 {
  width:         40%;
  text-align: right;
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Home layout
 */

.home-image {
  /* The image used */
  background-image: url("/assets/images/index.jpg");
}

.main-image {

  /* Set a specific height and width */
  height: 350px;
  width: 100%;
  .caption {
    // position: absolute;
    // left: 0;
    // top: 20%;
    padding-top: 10%;
    width: 100%;
    text-align: center;

    .border {
      background-color: #111;
      color: #fff;
      padding: 18px;
      font-size: 48px;
      letter-spacing: 10px;
			@include media-query($on-palm) {
				font-size: 12px;
			};
    }
  }

	@include media-query($on-palm) {
		height: 150px;
	};
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

// article h1 {
// 	font-size: 38px;
// 	color: $primary-text-color;
//
// 	@include media-query($on-laptop) {
// 		font-size: 34px;
// 	};
// }

.post-content {
  margin-bottom: $spacing-unit;

	h1 {
		font-size: 38px;
		color: $primary-text-color;

		@include media-query($on-laptop) {
			font-size: 34px;
		};
	}
	
  h2 {
    font-size: 32px;
		color: $secundary-text-color;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;
    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
