<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- TODO: Adicionar uma foto para cada categoria -->
    <div class="home-image main-image parallax">
      <div class="caption">
        <span class="border" id="ityped"></span>
      </div>
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    <script>
      ityped.init('#ityped', {
        strings:{% if page.strings %}['{{ page.strings | join: "', '"}}']{% else %}['{{ page.title | escape }}']{% endif %},
        startDelay: 200,
        loop: false
      });
    </script>
  </body>
</html>
